.update-profile-container{
    width: 45%;
    min-width: 300px;
    margin:auto;
    padding:100px 0 50px 0;
}

.update-profile-title{
    font-size: 18px;
    font-weight: 700;
    color:#4d4d4d
}

.update-profile-form-container{
    width: 75%;
    padding: 10px;
}

.update-profile-input{
    border: 1px solid rgb(230, 230, 230);
    margin: 5px 0 20px 0;
    border-radius: 0;
}

.update-profile-button{
    padding: 10px;
}

@media (min-width:300px) and (max-width:600px){
    .update-profile-container{
        width: 95%;
    }
    .update-profile-form-container{
        width: 100%;
    }
    .update-profile-form-card{
        padding: 15px;
    }
}

@media (min-width:600px) and (max-width:800px){
    .update-profile-container{
        width: 70%;
    }
    .update-profile-form-container{
        width: 85%;
    }
    .update-profile-form-card{
        padding: 15px;
    }
}