.person-item-container{
    width: 100%;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(236, 236, 236);
    transition: all .3s ease-in-out;
    cursor:pointer
}

.person-item-container:last-child{
    border-bottom: none;
}

.person-item-container:hover{
    background-color: rgb(245, 245, 245);
}

.person-item-avatar{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.person-item-name{
    font-size: 17px;
    color:#414141
}

.person-item-job{
    font-size: 13px;
    color:#6e6e6e;

}