
.nav-item a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  padding: 5px 0;
  font-weight: 600;
  padding:5px 15px;
  transition: all .3s ease-in-out;
  border: 2px solid rgba(225, 225, 225, .7);
}
  
.nav-item a:active,
.nav-item a.active {
  color: #6b6b6b;
  background-color: rgb(255, 255, 255);
  border: 2px solid #fff;
}

.nav-item a:hover{
  color: #757575;
  background-color: rgba(225, 225, 225, .5);
  border: 2px solid rgba(225, 225, 225, .5);
}