.nav-item a {
  font-size: 20px;
  text-decoration: none;
  color: #b87e7e;
  margin: 0 5px;
  font-weight: 600;
  padding:3px 0px;
  margin:0 15px;
  width: 100%;
  transition: all .3s ease-in-out;
}
  
.nav-item a:hover,
.nav-item a:active,
.nav-item a.active {
  color: #af7373;
  border-bottom: 3px solid #af7373;
}

.nav-icon{
  color: rgb(255, 113, 19);
  font-size: 20px;
}
