.input{
    outline: none;
    border:none;
    padding:5px 7px;
    border-radius: 5px;
    font-family: sans-serif;
    color:rgb(70, 70, 70);
    transition: all .2s ease-in-out;
    display: block;
}

.input:focus{
    background-color: rgb(245, 250, 255);
    border:1px solid grey
}

.search-note-input{
    border-radius: 3;
}

.comment {
    width: 50%;
    border:1px solid rgb(230, 230, 230);
    margin: 10px 0;
    resize: none;
    padding: 5px 10px;
    min-height: 75px;
}

.input-full{
    width: 100%;
    border:1px solid rgb(226, 226, 226);
    margin:5px 0 20px 0;
}