.comment-item-container{
    width: 100%;
    margin: 25px 0 0 0;
    border-bottom:1px solid rgb(223, 223, 223)
}

.comment-item-container:last-child{
    border-bottom: none;
}

.comment-item-avatar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 15px;
}

.comment-item-header{
    justify-content: flex-start !important;
}

.comment-item-name{
    font-weight: 700;
    color:#505050;
}

.comment-item-date{
    font-size: 13px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color:#757575
}

.comment-item-comment{
    font-weight: 500;
    color:#505050;
    margin:7px 0 25px 0
}

.user-info{
    width: 360px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(197, 197, 197);
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    border:1px solid rgb(211, 211, 211)
}

.user-info-container{
    display: none;
    position:absolute;
    padding:0 0 15px 0;
}

.user-name-container{
    position: relative;
}

.user-name-container:hover .comment-item-name{
    color:#000;
    cursor: pointer;
}

.user-name-container:hover .user-info-container{
    display: flex;
    transform: translate(-55px, -115px);
}

.user-info-avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


