.navigation{
    height: 75px;
    width: 100%;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    z-index: 100;
}


.app-name{
    font-size: 20px;
}

ul{
    list-style: none;
    justify-content: space-between !important;
}

.nav-auth-button{
    background-color: rgb(0, 64, 75);
    margin-left: 2rem;
}
