.navigation{
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed;
    z-index: 100;
}

.shrink{
    background-color: #353535;
    height: 65px;
    box-shadow: 0 1px 2px #353535;
}

.app-name{
    font-size: 20px;
}

ul{
    list-style: none;
    justify-content: space-between !important;
    margin-bottom: 0px;
}

.nav-auth-button{
    background-color: rgb(83, 83, 83);
    margin-left: 2rem;
    color: #fff
}
