.side-drawer{
    width: 65%;
    height: 100%;
    position: fixed;
    top:0;
    right:0;
    z-index: 400;
    background-color: #242424;
    padding: 15px 0;
}

@media (min-width:500px) {
    .side-drawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(100%);
}

.side-drawer header, ul{
    padding: 0;
    height: auto;
    width: 100%;
}

.side-drawer nav {
    display: block;
    width: 100%;
    padding-top: 50px;
}

.side-drawer .header-menu-button{
    display: none;
}

.side-drawer li {
    border-bottom:1px solid rgba(255, 149, 78, 0.171);
    padding: 20px 15px;
}

.side-drawer-close{
    color: rgb(136, 136, 136) !important;
    position: absolute;
    top:5px;
    left:5px;
    font-size: 20px;
}