.note-item-container{
    width: 100%;
    margin: 50px 0
}

.note-item-container a{
    text-decoration: none;
}

.note-item-creator-container{
    justify-content: flex-start !important;
}

.note-item-creator-container:hover .note-item-creator-name{
    color:#292929;
    text-decoration: underline;
}

.note-item-creator-img{
    width: 30px;
    height: 30px;
    border-radius:100px
}

.note-item-creator-name{
    color: #4b4b4b;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.note-item-content{
    width: 100%;
    min-width: 250px;
    justify-content: space-between !important;
}

.note-item-image{
    width: 225px;
    height: 200px;
}

.note-item-title{
    font-size: 25px;
    font-weight:bold;
    color:#4b4b4b;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow:hidden;
    -webkit-line-clamp: 2;
    line-height: 30px;
}

.note-item-description{
    color:rgb(80, 80, 80);
    font-size: 20px;
    font-family: 'Times New Roman', Times, sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow:hidden;
    -webkit-line-clamp: 2;
}

.note-item-date{
    color:#7a7a7a;
    font-size: 13px;
    margin: 10px 0;
    font-weight: 500;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.note-item-icon{
    font-size: 15px;
}
