.user-list{
    width: 100%;
    display: flex; 
    flex-direction:column; 
    align-items:center;
    overflow-y: scroll;
    height: 500px;
    scrollbar-width: none;
    position: relative;
}

.user-list::-webkit-scrollbar {
    display: none;
}

#user-list-blur{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom:0
}