.profile-container{
    width: 60%;
    margin:auto;
    padding: 50px 0;
}

.profile-info{
    justify-content: space-between !important;
    margin-bottom: 15px;
}

.profile-name{
    font-size: 28px;
    font-weight: 700;
    color:#4d4d4d;
}

.profile-job{
    font-size: 14px;
    color:#636363;
    margin-bottom: 10px;
    font-family:'Source Sans Pro';
}

.profile-image{
    width: 175px;
    height: 175px;
    border-radius: 100px;
    position: relative;
    margin:auto
}

.profile-edit{
    color: #fff;
    width: 0;
    opacity: 0;
    margin-left: 3px;
}

.profile-edit-button{
    background-color: #505050;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    color:#fff;
}

.profile-edit-button:hover{
    width: auto;
    padding: 5px 10px;
    color:#fff;
    border-radius: 4px
}

.profile-edit-button:hover .profile-edit{
    width: auto;
    opacity: 1;
}

.delete-acount{
    font-family: consolas, sans-serif;
}

.profile-image-container{
    flex-direction: column;
    margin-right: 20px;
}

.profile-image-container button {
    padding: 0;
}

.profile-image-container .glyphicon-pencil{
    font-size: 14px;
}

.profile-box{
    padding: 3px 10px;
    border-radius: 3px;
    color:#fff;
    font-size: 15px;
    background-color: #505050;
    margin:0 7px 0 0;
}

.profile-box:hover{
    background-color: #363636;
}

.prodile-links{
    justify-content: flex-start !important;
}

.profile-notes{
    margin-top: 25px;
}

.profile-notes-title{
    font-weight: 700;
    font-size: 20px;
    color:#5c5c5c;
    margin-right: 15px;
}

.profile-notes .fa-plus, .fa-search, .fa-close{
    color:rgba(0, 80, 94, .7);
    font-size: 18px;
    font-weight: 100;
}

.fa-camera{
    font-size: 25px;
    margin-top: 5px;
}

.fa-envelope-o{
    font-size: 12px;
    margin-right: 5px;
    color:#414141;
}

.profile-email{
    font-size: 15px;
    color:black;
    margin-bottom: 10px;
}

.no-notes-text{
    font-size: 18px;
    color: #6b6b6b;
    text-align: center;
}

.profile-new-post a {
    color: #fff;
    font-weight: 600;
    font-family: consolas, sans-serif;
}

.add-icon{
    color: #fff !important;
    font-size: 13px !important;
}

.user-action-icon{
    font-size: 20px;
    color:#5c5c5c
}

.user-action{
    font-size: 18px;
    color:#4d4d4d;
    border-radius: 0 !important;
    padding: 0 !important;
    margin:0 !important
}

.user-action+.user-action::before {
    content: "|";
    padding: 18px;
    color: rgb(219, 219, 219);
}
