.text-center{
    text-align: center;
}

.app-back-color{
    background-color: rgb(0, 80, 94);
}

.app-color{
    color: rgb(0, 80, 94);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    box-sizing: border-box;
}

p{
    margin:0;
}

.line{
    width: 100%;
    border-top:1px solid #e0e0e0;
}
