.button{
    outline: none !important;
    padding: 7px 10px;
    border:none;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    margin:3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.auth-button{
    padding: 5px 15px;
    margin-bottom: 10px;
}

.white {
    color:#fff !important
}

.inline{
    display:block
}

.success{
    background-color: #00bf73;
    color:#fff
}

.success:hover{
    background-color: #009459;
}

.info{
    background-color: rgb(0, 137, 161);
    color:#fff
}

.info-outline{
    border:1px solid rgb(0, 137, 161);
    color:rgb(0, 137, 161)
}

.info-outline:hover{
    background-color: rgb(0, 137, 161);
    color:#fff
}

.danger-outline{
    border: 2px solid rgb(255, 116, 116);
    color:rgb(255, 116, 116)
}

.danger-outline:hover{
    background-color: rgb(255, 116, 116);
    color: #fff
}

.yellow{
    background-color: #ff8400;
    color: #fff
}

.yellow-outline{
    border:2px solid #ff8400;
    color: #ff8400
}

.yellow-outline:hover{
    background-color: #ff8400;
    color: #fff
}

.black{
    background-color: rgb(75, 75, 75);
    color:#fff
}

.black-outline{
    border: 1px solid rgb(75, 75, 75);
    color:rgb(75, 75, 75)
}

.black-outline:hover{
    background-color: rgb(75, 75, 75);
    color:#fff
}

.black-round{
    background-color: rgb(75, 75, 75);
    color: #fff;
    border-radius: 100px !important;
    width: 40px;
    height: 40px;
}

.black-round:hover{
    background-color: rgb(59, 118, 136);
    width: 50px;
    height: 50px;
    font-size: 18px;
}
